@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');  /* フォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');   /* フォントのインポート */

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
  .left {
    flex-grow: 1;
  }
  .right {
    flex-grow: 1;
  }
}

/* body { 
  background: rgb(190, 34, 211); 
  background: rgb(0, 0, 0);
  background-image:url("https://data.comsa.io/user/b32ed69c-7a42-490d-83f1-3494875a69cc/asset/4dea6d31-3b1d-4f3f-b4a7-405b34c5014a.png");
  background-image:url("https://github.com/mikunNEM/Test_V/raw/main/src/sea.jpg");
  background-image:url("https://github.com/mikunNEM/Test_V/raw/main/cyberpunk.jpeg");
  background-size: cover;
  background-attachment: fixed;
} */

.SSS_link {
        background: rgb(255, 255, 255,0.8);
        font-size: 20px;
        padding: 0px 0px 0px 50px;
        text-align: right;
}

#selectCSS{
  color: #007bff;
  background-color: rgb(255, 255, 255,0);
}


/* ポップアップ */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.bg-black {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
/********************************************/

h1 {
  color:rgb(205, 0, 255);
  font-size: 4rem;
  font-weight: bold;
  text-align: right;
  margin: 50px 80px 0px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color:rgb(205, 0, 255);
  font-size: 3rem;
  font-family: 'Itim', cursive;
  margin: 0px 0px 15px 30px;
}

h3 {
  font-size: 40px; 
  font-family: 'Itim', cursive;
  /*display: flex;
  justify-content: flex-end;*/
  text-align: right;
  margin: 0px 80px 10px auto;
}

.left {
  width: 700px;
  position: fixed;
}

.right {
  overflow: auto;
}

.account-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 0px 16px 16px 16px;
  padding: 32px 18px 18px 18px;
}

.sender-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 16px 16px 0px 16px;
  padding: 32px 36px 36px 36px;
  color: #2f4f4f;
}

label {
    margin: 5px 0 0 0;
    padding: 3px;
    color: #ffffff;
    background-color: #384878;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#button-haichi{
  text-align: right;
} 

.button-sign{
  font-size: 20px;  
  width:100px;height:50px; 
  background:rgb(205, 0, 255); 
  color:rgb(255,255,255); 
  border-radius: 16px;
  cursor: pointer;
}

.button-decrypted{
  background: #e6e6fa;
  color: #ff00ff;
  border-radius: 8px;
  cursor: pointer;
  width: 476px;
}

.tx-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  width: 600px;
  margin-left: 750px;
  padding: 32px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;                     // 左の白い背景の大きさ
}

#wallet-addr {
  font-size: 24px;                 // ウォレットアドレスの文字サイズ
}

#wallet-xym {
  text-align: right;
  font-size: 30px;
  font-weight: 700;
}

#wallet-transactions{
  margin: 30px;
  word-wrap: break-word;
}

ul{
   padding: 0;
   margin: 0;
}

.decryption{
    display: flex;
    justify-content: space-between;
}

.decryption>li{
    margin: 0;
    list-style: none;
    text-align: center;
}

.container {
  font-size: 24px;
  margin: 20px 20px 20px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px 50px auto 50px;
}

hr {
  border-top: 4px solid skyblue;
}

#version {
 color:rgb(205, 0, 255); 
 text-align: center;
 font-size: 24px;
 margin: 0px auto 0px 16px;
}
