@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');  /* フォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');   /* フォントのインポート */

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
  .left {
    flex-grow: 1;
  }
  .right {
    flex-grow: 1;
  }
}


.SSS_link {
        background: rgb(255, 255, 255,0.8);
        font-size: 20px;
        padding: 0px 0px 0px 50px;
        text-align: right;
}

#selectCSS{
  color: #007bff;
  background-color: rgb(255, 255, 255,0);
}

#Node{
  color: #007bff;
  background-color: rgb(255, 255, 255,0);
}


/* ポップアップ */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 1000;
  border-radius: 16px;
}
.popup-inner img {
  width: 100%;
}
.bg-black {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 999;
  cursor: pointer;
}
/********************************************/

h1 {
  color:rgb(205, 0, 255);
  font-size: 4rem;
  font-weight: bold;
  text-align: right;
  margin: 50px 80px 0px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color:rgb(205, 0, 255);
  font-size: 3rem;
  font-family: 'Itim', cursive;
  margin: 0px 0px 15px 30px;
}

h3 {
  font-size: 40px; 
  font-family: 'Itim', cursive;
  /*display: flex;
  justify-content: flex-end;*/
  text-align: right;
  margin: 0px 80px 10px auto;
}

h4 {
  font-size: 40px; 
  font-family: 'Itim', cursive;
  /*display: flex;
  justify-content: flex-end;*/
  text-align: center;
  margin: 40px auto 40px auto;
}

.left {
  width: 720px;
  position: fixed;
}

.right {
  overflow: auto;
}

.account-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 0px 16px 16px 16px;
  padding: 16px 18px 18px 18px;
}

.sender-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 16px 16px 0px 16px;
  padding: 16px 36px 36px 36px;
  color: #2f4f4f;
}

label {
    margin: 5px 0 0 0;
    padding: 3px;
    color: #ffffff;
    background-color: #384878;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#button-haichi{
  text-align: right;
} 

.button-sign{
  font-size: 20px;  
  width:100px;
  height:50px; 
  background:rgb(205, 0, 255); 
  color:rgb(255,255,255); 
  border-radius: 16px;
  cursor: pointer;
}

.button-decrypted{
  background: #e6e6fa;
  color: #ff00ff;
  border-radius: 8px;
  cursor: pointer;
  width: 476px;
}

.tx-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  width: 650px;
  margin-left: 750px;
  padding: 32px 32px 32px 32px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;                     /*左の白い背景の大きさ*/
}

#wallet-addr {
  font-size: 24px;                 /* ウォレットアドレスの文字サイズ*/
}

#wallet-xym {
  text-align: right;
  font-size: 30px;
  font-weight: 700;
}

#wallet-transactions{
  margin: 30px;
  word-wrap: break-word;
}

ul{
   padding: 0;
   margin: 0;
}

.decryption{
    display: flex;
    justify-content: space-between;
}

.decryption>li{
    margin: 0;
    list-style: none;
    text-align: center;
}

.container {
  font-size: 24px;
  margin: 20px 20px 20px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px 50px auto 50px;
}

hr {
  border-top: 4px solid skyblue;
}

#version {
/* display: inline-block;*/
 color:rgb(255, 0, 251); 
 text-align: center;
 font-size: 24px;
 margin: 0px auto 0px 16px;
 /*background: rgb(255, 255, 255,0.8);*/
 filter: drop-shadow(2px 2px 0px #838383);
}

/********* ボタンクリックでクリップボードへコピー  *********/

.copy_container {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.copy_bt {
  padding: 0px 5px;
  position: relative;
  border-radius: 5px;
}

/*
.active {
  background-color: green;
  color: white;
}
*/

/******** iOS風トグルスイッチ　**************************/
/* 1 */
.toggle1 {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 0px 150px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle1 input[type=checkbox] {
  display: none;
}
.toggle1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #e9e9eb;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle1:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle1.checked:before {
  background: #35c759;
}
.toggle1.checked:after {
  left: 23px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

/** 2 **/
.toggle2 {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 0px 150px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle2 input[type=checkbox] {
  display: none;
}
.toggle2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #e9e9eb;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle2:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle2.checked:before {
  background: #35c759;
}
.toggle2.checked:after {
  left: 23px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

/** 3 **/
.toggle3 {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 0px 150px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle3 input[type=checkbox] {
  display: none;
}
.toggle3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #e9e9eb;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle3:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle3.checked:before {
  background: #35c759;
}
.toggle3.checked:after {
  left: 23px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

/** 4 **/
.toggle4 {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 0px 150px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle4 input[type=checkbox] {
  display: none;
}
.toggle4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #e9e9eb;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle4:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle4.checked:before {
  background: #35c759;
}
.toggle4.checked:after {
  left: 23px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}


/**********************************************************/
/* モーダルウィンドウ    Mosaic  */
/**********************************************************/
.popup_m {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  display: flex;
  align-items: center;
}
.popup_m.is-show {
  opacity: 1;
  visibility: visible;
}
.popup_m-inner {
  position: relative;
  /*margin: 0 auto;*/
  margin: 50px auto auto auto; 
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  max-width: 1600px;
  background-color: #fff;
  z-index: 3; 
  border-radius: 16px;
}
@media screen and (max-width: 480px) {
  .popup_m-inner {
    height: 100%;
  }
}
.popup_m-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background_m {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300%;
  background-color: rgba(0,0,0,.8);
  z-index: -1;
  cursor: pointer;
}

/* Mosaic Parameter */
.Form {
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
  max-width: 1500px;
  height: 100%;
  }
  
  .Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  /*padding-bottom: 12px;*/
  width: 100%;
  display: flex;
  align-items: center;
  }
  @media screen and (max-width: 480px) {
    .Form-Item {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
  width: 100%;
  max-width: 290px;
  letter-spacing: 0.05em;
  /*font-weight: bold;*/
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label {
  max-width: inherit;
  display: flex;
  align-items: center;
  font-size: 15px;
  }
  }
 .divisibility {
  width: 220px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
  .divisibility {
 /* margin-top: 8px;*/
  }
  }
  .Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 120px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
  }
  }
  .Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Input {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
  }
  }
  @media screen and (max-width: 480px) {
  .Divisibility {
  margin-top: 18px;
  margin-left: 0;
  height: 200px;
  flex: inherit;
  font-size: 15px;
  }
  }
  .Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  }
  .Form-Btn:hover{
    opacity: 0.6;
  }
  @media screen and (max-width: 480px) {
  .Form-Btn {
  margin-top: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 160px;
  font-size: 16px;
  }
  }


/**********************************************************/
/* モーダルウィンドウ Namespace  */
/**********************************************************/
.popup_n {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  display: flex;
  align-items: center;
}
.popup_n.is-show {
  opacity: 1;
  visibility: visible;
}
.popup_n-inner {
  position: relative;
  /*margin: 0 auto;*/
  margin: 100px auto auto auto;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  max-width: 1600px;
  background-color: #fff;
  z-index: 3;
  border-radius: 16px;
}
@media screen and (max-width: 480px) {
  .popup_n-inner {
    height: 100%;
  }
}
.popup_n-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  padding: 15px;
  font-size: 40px;
  color: #333;
}
.black-background_n {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0,0,0,.8);
  z-index: -1;
  cursor: pointer;
}

.Form2 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
  max-width: 1500px;
  height: 100%;
  }
  
  .Form-Item2 {
  border-top: 1px solid #ddd;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  }

  
  @media screen and (max-width: 480px) {
    .Form-Item2 {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
  width: 100%;
  max-width: 290px;
  letter-spacing: 0.05em;   
  /*font-weight: bold;*/
  font-size: 18px;
  }
  .Form-Item-Label-Required2 {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 240px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label-Required2 {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
  }
  } 
  .Form-Item-Input_N {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Input_N {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
  }
  }

  .re_maxFee {
    width: 220px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: auto;
    }
    @media screen and (max-width: 480px) {
    .re_maxFee {
   /* margin-top: 8px;*/
    }
    }
 
    .alias_type {
      width: 220px;
      height: 35px;
      margin-top: 5px;
      margin-bottom: auto;
      }
      @media screen and (max-width: 480px) {
      .alias_type {
     /* margin-top: 8px;*/
      }
      }


/**********************************************************/
/* モーダルウィンドウ   Revoke  モザイク回収  */
/**********************************************************/
.popup_r {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  display: flex;
  align-items: center;
}
.popup_r.is-show {
  opacity: 1;
  visibility: visible;
}
.popup_r-inner {
  position: relative;
  /*margin: 0 auto;*/
  margin: 100px auto auto auto; 
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  background-color: #fff;
  z-index: 3;
  border-radius: 16px;
}
@media screen and (max-width: 480px) {
  .popup_r-inner {
    height: 100%;
  }
}
.popup_r-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  padding: 15px;
  font-size: 40px;
  color: #333;
}
.black-background_r {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0,0,0,.8);
  z-index: -1;
  cursor: pointer;
}

.Form_r {
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
  max-width: 1000px;
  height: 100%;
  }
  
  .Form-Item_r {
  border-top: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  }

  
  @media screen and (max-width: 480px) {
    .Form-Item_r {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
  width: 100%;
  max-width: 290px;
  letter-spacing: 0.05em;   
  /*font-weight: bold;*/
  font-size: 18px;
  }
  .Form-Item-Label-Required_r {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 240px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label-Required2 {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
  }
  } 
  .Form-Item-Input_r {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Input_r {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
  }
  }
 
/**********************************************************/
/* モーダルウィンドウ   エイリアスリンク  */
/**********************************************************/
.popup_L {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  display: flex;
  align-items: center;
}
.popup_L.is-show {
  opacity: 1;
  visibility: visible;
}
.popup_L-inner {
  position: relative;
  /*margin: 0 auto;*/
  margin: 100px auto auto auto; 
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  background-color: #fff;
  z-index: 3;
  border-radius: 16px;
}
@media screen and (max-width: 480px) {
  .popup_L-inner {
    height: 100%;
  }
}
.popup_L-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  padding: 15px;
  font-size: 40px;
  color: #333;
}
.black-background_L {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0,0,0,.8);
  z-index: -1;
  cursor: pointer;
}

.Form_L {
  margin-left: auto;
  margin-right: auto;
  padding: 0 4%;
  max-width: 1000px;
  height: 100%;
  }
  
  .Form-Item_L {
  border-top: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  }

  
  @media screen and (max-width: 480px) {
    .Form-Item_L {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
  width: 100%;
  max-width: 290px;
  letter-spacing: 0.05em;   
  /*font-weight: bold;*/
  font-size: 18px;
  }
  .Form-Item-Label-Required_L {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 240px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label-Required_L {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
  }
  } 
  .Form-Item-Input_L {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Input_L {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
  }
  }



/***********************************/



table {
  border-collapse:  collapse; /* セルの線を重ねる */
  width: 100%;
}

tr:nth-child(even) {
  background-color:  rgb(181, 255, 255);    /* 背景色指定 */
}

th,td {
  padding: 5px 10px;          /* 余白指定 */
}